@model OlnlineBanking.Models.Client

@{
    ViewBag.Title = @Model.Id==0? "Add": "Edit";
}

<div class="form-default">
    <h2 class="caption">@ViewBag.Title client</h2>
    @using (Html.BeginForm("Edit", "Client", FormMethod.Post, new { @class = "form-ui" }))
    {
        <div class="fields floats">
            @Html.Hidden("returnUrl",(string)ViewBag.ReturnUrl)
            @Html.EditorForModel()
        </div>
        <div class="actions floats">
            <a class="cancel button" href="@ViewBag.ReturnUrl">Cancel</a>
            <input type="submit" class="save" value="Save" />
        </div>
    }
</div>
